{% extends 'base.html' %}

{% block title %}Customers{% endblock %}


{% block externalCSS %}
<style>
    input.no-spinners::-webkit-outer-spin-button,
    input.no-spinners::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input.no-spinners {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4 text-gray-700">Update Customer</h1>
<div class="bg-white shadow rounded-xl p-6 ">
    <form method="post" action="{% url 'edit-customer' customer.id %}"> 
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block text-gray-700">Name*</label>
                <input type="text" name="name" value="{{ customer.name }}" class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
              <div>
                <label class="block text-gray-700">Address</label>
                <input type="text" name="address" value="{{ customer.address }}" class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500" >
            </div>
            <div>
                <label class="block text-gray-700">Phone*</label> 
                <input type="number" name="phone" value="{{ customer.phone }}" 
                class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 no-spinners" required
                oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                >
            </div>
            <div> 
            <label class="block text-gray-700">WhatsApp Number</label>
            <div class="flex mt-1">
                <select name="country_code"
                class="border rounded-l-xl px-3 py-2 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500" id="countryCode">
              
                </select>

                <input
                type="tel"
                name="whatsapp_number"
                placeholder="Enter WhatsApp number..."
                class="w-full px-3 py-2 border-t border-b border-r rounded-r-xl focus:outline-none focus:ring-2 focus:ring-blue-500 no-spinners"
                required
                inputmode="numeric"
                pattern="[0-9]*"
                value="{{ customer.wa }}"
                oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                >
            </div>
            </div>
            <div>
                <label class="block text-gray-700">Open Credit*</label>
                <input type="number" step="0.01" name="open_credit" value="{{ customer.open_credit }}" class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 no-spinners" required>
            </div>
            <div>
                <label class="block text-gray-700">Open Debit*</label>
                <input type="number" step="0.01" name="open_debit" value="{{ customer.open_debit }}"
                    class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 no-spinners" required>
            </div>
            <div>
                <label class="block text-gray-700">OTC Credit*</label>
                <input type="number" step="0.01" name="otc_credit" value="{{ customer.otc_credit }}" class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 no-spinners" required>
            </div>
            <div>
                <label class="block text-gray-700">OTC Debit*</label>
                <input type="number" step="0.01" name="otc_debit" value="{{ customer.otc_debit }}"
                    class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 no-spinners" required>
            </div>
        </div>
        <div class="mt-6"><div class="mt-6 flex gap-2 justify-end">
            <a href="{% url 'customers'%}" type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 font-semibold">Cancel</a>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 font-semibold">Update Customer</button>
        </div>
    </form>
</div>

{% endblock %}
{% block externalJS %}
<script>

  navActive("customerMasterLink");
  countryCode()
  $('#countryCode').val("{{ customer.country_code }}");
</script>
{% endblock %}