{% extends 'base.html' %}

{% block title %}Cash/Bank{% endblock %}


{% block externalCSS %}
<style>
    input.no-spinners::-webkit-outer-spin-button,
    input.no-spinners::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input.no-spinners {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block content %}
<div class="bg-white shadow rounded-xl p-6 ">
    <div class="flex items-center justify-between mb-6 border-b-2 border-gray-200 pb-4">
        <h1 class="text-2xl sm:text-3xl font-bold text-gray-800 tracking-tight">Update Cash/Bank</h1>
    </div>
    <form method="post" action="{% url 'edit-cashbank' cashbank.id %}">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block text-gray-700">Name*</label>
                <input type="text" name="name" value="{{ cashbank.name }}"
                    class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 input-text-only"
                    required>
            </div>
            <div>
                <label class="block text-gray-700">Descriprion</label>
                <input type="text" name="description" value="{{ cashbank.description }}"
                    class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
        <div class="mt-6 flex gap-2 justify-end">
            <a href="{% url 'cashbank'%}" type="submit"
                class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 font-semibold">Cancel</a>
            <button type="submit"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 font-semibold">Update
                Cash/Bank</button>
        </div>
    </form>
</div>

{% endblock %}
{% block externalJS %}
<script>
    navActive("cashbankMasterLink");
</script>
{% endblock %}