{% extends 'base.html' %} {% block title %}Cash Entry{% endblock %} 
{% block externalCSS %} {% endblock %} {% block content %}

<div class="bg-white rounded-xl p-6 mt-3">
  <h1 class="text-2xl font-medium mb-0 text-gray-700 uppercase">
    Cash Management
  </h1>
  <div class="mt-4 flex flex-wrap items-center gap-3">
    <!-- 🟦 New -->
    <a
      id="btnNew"
      href="#"
      class="leading-none inline-flex items-center gap-1.5 bg-blue-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-blue-600 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4v16m8-8H4"
        />
      </svg>
      New
    </a>
<a
  id="btnView"
  href="#"
  class="leading-none inline-flex items-center gap-1.5 bg-green-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-green-600 transition-all duration-300"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-4 w-4"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
    />
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
    />
  </svg>
  View
</a>


  </div>
  <hr class="mt-5">
  <div class=" mt-5 w-100" id="createView">
<div class="grid grid-cols-8 gap-4 ">
  <div class="col-span-6 flex gap-2 ">
    <div class="w-[50%]">
      <label class="block text-gray-700">Cash No*</label>
      <input
        type="text"
        name=""
        value="{{ last_cash_no }}"
        id="cash_name"
        placeholder="Enter Cash No"
        class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        disabled
        required
      />
    </div>

      <input
        type="hidden"
        name=""
        id="cashId"
        placeholder=""

      />
    <div class="w-[50%]">
      <label class="block text-gray-700">Date*</label>
      <input
        type="date"
        name=""
        id="date"
        class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
      />
    </div>
  </div>



<div class="col-span-6 w-full flex items-center gap-3">
<div class=" w-[80%]">
  <!-- Label -->
  <label class="block text-gray-700 mb-1">Cash/Bank*</label>

  <!-- Row: Checkbox + Dropdown -->
  <div class="flex items-center gap-4">

    <!-- Dropdown -->
    <div class="flex-1">
      <select
        name=""
        id="cash"
        class="w-full bg-white px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
      >
        <option value="" selected>Select Cash/Bank</option>
        {% for cashbank in cashbanks %}
        <option value="{{ cashbank.id }}" data-code="{{cashbank.cashbankId}}">{{ cashbank.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<div class=" w-[30%]">
  <!-- Label -->
  <label class="block text-gray-700 mb-1">C/B.code*</label>
  <div class="flex items-center gap-4 ">
    <!-- Row: Checkbox + Dropdown -->
    <div class="flex items-center gap-4 w-full">
    <!-- Dropdown -->
     <div class="flex-1">
      <input
        type="text"
        name=""
        id="cashbankId"
        placeholder=""
        disabled
        class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
      />
    </div>
    </div>
    
  </div>
</div>
</div>


<div class="col-span-6 w-full flex items-center gap-3">
<div class=" w-[80%]">
  <!-- Label -->
  <label class="block text-gray-700 mb-1">Party*</label>
  <div class="flex items-center gap-4">
    <div class="flex items-center gap-4 w-full">

    <div class="flex-1">
      <select
        name=""
        id="supplier"
        class="w-full bg-white px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
      >
        <option value="" selected>Select Party</option>
        {% for supplier in suppliers %}
        <option value="{{ supplier.id }}" data-code="{{supplier.supplierId}}" data-balance="{{supplier.balance}}" data-type="suppliers">{{ supplier.name }} (supplier)</option>
        {% endfor %}
        {% for customer in customers %}
        <option value="{{ customer.id }}" data-code="{{customer.customerId}}" data-balance="{{customer.balance}}" data-type="customers">{{ customer.name }} (customer)</option>
        {% endfor %}
      </select>
    </div>
    </div>
    
  </div>
</div>
<div class=" w-[20%]">
  <!-- Label -->
  <label class="block text-gray-700 mb-1">code*</label>
  <div class="flex items-center gap-4 ">
    <!-- Row: Checkbox + Dropdown -->
    <div class="flex items-center gap-4 w-full">
    <!-- Dropdown -->
     <div class="flex-1">
      <input
        type="text"
        name=""
        id="supplierID"
        placeholder=""
        disabled
        class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
      />
    </div>
    </div>
    
  </div>
</div>

    <div class="w[20%]">
      <div id="supplierCredit" class="">

      </div>
    </div>
</div>

<div class=" col-span-4">
  <!-- Label -->
  <label class="block text-gray-700 mb-1">Transaction*</label>

  <!-- Row: Checkbox + Dropdown -->
  <div class="flex items-center gap-4">

    <!-- Dropdown -->
    <div class="flex-1">
      <select
        name=""
        id="transaction"
        class="w-full bg-white px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
      >
        <option value="Paid" selected>Paid</option>
        <option value="Received">Received</option>
      </select>
    </div>
  </div>
</div>
  <div class="col-span-6 w-full flex gap-2">
      
   <div class="flex-1">
      <label class="block text-gray-700">Amount*</label>
      <input
        type="number"
        name=""
        id="amount"
        placeholder=""

        class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
      />
    </div>
  </div>

  <div class="description col-span-6">
    <div class="">
      <label class="block text-gray-700">Description</label>
      <textarea name="" id="description"
        class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
      ></textarea>
  </div>
</div>
</div>
  <hr class="mt-5 mb-5">
  <form action="{% url 'cash-create' %}" method="post">
    {% csrf_token %}
  <div class="flex items-center justify-between">
    <div class="flex gap-2 items-center">
        <a
      id="addGrid"
      href="#"
      onclick="addToCashGrid()"
      class="leading-none inline-flex items-center gap-1.5 bg-blue-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-blue-600 transition-all duration-300"
    >
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4v16m8-8H4"
        />
      </svg> -->
      <span id="addToGridText">Add to Grid</span>
    </a>

    <a
      id="btnCancel"
      href="#"
      onclick="onCancelCash()"
      class="leading-none inline-flex items-center gap-1.5 bg-gray-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-gray-600 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
      Cancel
    </a>
    </div>

<div class="flex items-center gap-2">

    <div class="relative w-full md:w-3/4">
      <input
        type="text"
        id="searchInput"
        placeholder="Search cash..."
        class="w-full bg-white rounded-xl px-4 py-2 pl-10 border  focus:border-transparent ring-2 ring-blue-200  focus:ring-2 focus:ring-blue-300 transition-all duration-200 outline-none"
      />
      <svg
        class="w-5 h-5 text-gray-400 absolute left-3 top-2.5 pointer-events-none"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1010.5 3a7.5 7.5 0 006.15 13.65z"
        />
      </svg>
    </div>
    <button
      id="btnSave"
      type="submit"
      class="leading-none inline-flex items-center gap-1.5 bg-green-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-green-600 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5 13l4 4L19 7"
        />
      </svg>
      Save
    </a>
</div>
  </div>

    <div class="overflow-x-auto mt-5 w-full" id="cashCreateDiv">
      <table class="min-w-full rounded-t-lg overflow-hidden">
        <thead class="bg-blue-200 text-gray-700 uppercase text-sm">
          <tr>
            <th class="px-4 py-3 text-left font-medium w-1">Actions</th>
            <th class="px-4 py-3 text-left font-medium w-1">#</th>
            <th class="px-4 py-3 text-left font-medium">Date</th>
            <th class="px-4 py-3 text-left font-medium">Cash/Bank</th>
            <th class="px-4 py-3 text-left font-medium">Party</th>
            <th class="px-4 py-3 text-right font-medium">Amount</th>
            <th class="px-4 py-3 text-right font-medium">Transaction</th>
            <th class="px-4 py-3 text-right font-medium">Description</th>
          </tr>
        </thead>
        <tbody class="bg-gray-100" id="cashTableBody">
        </tbody>
      </table>
    </div>
    </form>
</div>

<div id="viewDiv" class="hidden">
  <div class="dateDiv mt-3" >
    <div class="flex justify-center items-end gap-5 mt-4">
  <div>
    <label class="block text-gray-700">From Date*</label>
    <input
      type="date"
      id="from_date"
      class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
      required
    />
  </div>

  <div>
    <label class="block text-gray-700">End Date*</label>
    <input
      type="date"
      id="end_date"
      class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
      required
    />
  </div>

  <div>
    <button
      id="dateFilter"
      class="bg-blue-600 text-white px-5 py-2 mt-6 rounded-xl hover:bg-blue-700 transition-all"
    >
      Filter
    </button>
  </div>
</div>
  </div>
  
<div id="viewCashDiv" class="hidden">

  <hr class="mt-5">
  <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 mt-3 mb-3">

  <div class="flex items-end gap-3 w-full md:w-auto">
    <div>
      <label for="from_price" class="block text-gray-700 text-sm font-medium">From</label>
      <input
        type="number"
        id="from_price"
        placeholder="0.00"
        class="w-32 mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div>
      <label for="to_price" class="block text-gray-700 text-sm font-medium">To</label>
      <input
        type="number"
        id="to_price"
        placeholder="0.00"
        class="w-32 mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <button
      id="btnFilter"
      class="mt-5 bg-blue-500 text-white text-sm font-medium px-4 py-2.5 rounded-xl shadow-sm hover:bg-blue-600 transition-all duration-300"
    >
      Filter
    </button>
  </div>

  <h2 id="showDate" class="underline"></h2>

  <div class="relative w-full md:w-1/4">
    <input
      type="text"
      id="searchInput"
      
      placeholder="Search cash..."
      class="w-full bg-white searchInput rounded-xl px-4 py-2 pl-10 border focus:border-transparent ring-2 ring-blue-200 focus:ring-2 focus:ring-blue-300 transition-all duration-200 outline-none"
    />
    <svg
      class="w-5 h-5 text-gray-400 absolute left-3 top-2.5 pointer-events-none"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1010.5 3a7.5 7.5 0 006.15 13.65z"
      />
    </svg>
  </div>

</div>

    <div class="overflow-x-auto mt-5 w-full" >
      <table class="min-w-full rounded-t-lg overflow-hidden" id="viewCashTable">
        <thead class="bg-blue-200 text-gray-700 uppercase text-sm">
          <tr>
            <th class="px-4 py-3 text-left font-medium w-1">Actions</th>
            <th class="px-4 py-3 text-left font-medium w-1">#</th>
            <th class="px-4 py-3 text-left font-medium">Cash No</th>
            <th class="px-4 py-3 text-left font-medium">Date</th>
            <th class="px-4 py-3 text-left font-medium">Cash/Bank</th>
            <th class="px-4 py-3 text-left font-medium">Party</th>
            <th class="px-4 py-3 text-right font-medium">Amount</th>
            <th class="px-4 py-3 text-right font-medium">Transaction</th>
            <th class="px-4 py-3 text-right font-medium">Description</th>
          </tr>
        </thead>
        <tbody class="bg-gray-100" id="cashTableBody">
        </tbody>
      </table>
    </div>
</div>
</div>
  </div>

  <!-- 🟦 Edit Confirmation Modal -->
  <div
    id="editModal"
    class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center z-50"
  >
    <div class="bg-white rounded-xl shadow-lg p-6 w-80 text-center">
      <h2 class="text-lg font-semibold mb-4 text-gray-800">Confirm Edit</h2>
      <p class="mb-6 text-gray-600 ">
        Are you sure you want to edit this cash's details?
      </p>

      <div class="flex justify-center space-x-4">
        <button
          onclick="closeEditModal()"
          class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400"
        >
          Cancel
        </button>
        <a
          id="confirmEditBtn"
          href="#"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        >
          Edit
        </a>
      </div>
    </div>
  </div>
  <div
    id="confirmModal"
    class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center z-50"
  >
    <div class="bg-white rounded-xl shadow-lg p-6 w-80 text-center">
      <h2 class="text-lg font-semibold mb-4">Confirm Deletion</h2>
      <p class="mb-6 text-gray-600">
        Are you sure you want to delete this cash?
      </p>

      <div class="flex justify-center space-x-4">
        <button
          id="cancelBtn"
          class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400"
          onclick="closeModal()"
        >
          Cancel
        </button>
        <a
          id="confirmDeleteBtn"
          href="#"
          class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
          onclick="deleteItem()"
        >
          Delete
        </a>
      </div>
    </div>
  </div>
  {% endblock %} {% block externalJS %}
  <script>

    isUpdate = false;

  function addLastRow(){
    const tableBody = document.getElementById("cashTableBody");
    $('#totalRow').remove();
    var totalQty = 0;
    var totalAmount = 0;
    var rateSum = 0;
    count = 0;
    tableBody.querySelectorAll("tr").forEach(function(row) {
      const amount = parseFloat(row.cells[5].innerText) || 0;
      totalAmount += amount;
      count += 1;
    });
    rateAvg = rateSum / count || 0;
    const lastRow = `
      <tr class="bg-blue-200 font-bold" id="totalRow">
        <td class="px-4 py-3 text-left" colspan="6">Totals:</td>
        <td class="px-4 py-3 text-right">${parseFloat(totalAmount).toFixed(2)}</td>
        <td class="px-4 py-3 text-right"></td>
      </tr>`;
    tableBody.insertAdjacentHTML('beforeend', lastRow);

  }


  let selectedTR = '';
    $('#btnNew').on('click', function(e) {
      e.preventDefault();
    $('#date').val(new Date().toISOString().split('T')[0]);
    $('#from_date').val('');
    $('#end_date').val('');
    $('#viewCashDiv').addClass('hidden');
    $('#viewCashTable tbody').empty();
    $('#createView').removeClass('hidden');
    $('#viewDiv').addClass('hidden');
    $('#cash_name, #amount').val('');
    $('#supplier, #cash').prop('selectedIndex', 0);
      $('#supplierCredit').empty();
    $('#cash_name').val(getLastCashNo()).change();

    });
    $('#btnView').on('click', function(e) {
      e.preventDefault();
    $('#createView').addClass('hidden');
    $('#viewDiv').removeClass('hidden');

    clearCashForm();
    isUpdate = false;
    $('#addToGridText').text('Add to Grid');
    $(selectedTR).removeClass('bg-blue-300'); 
    $(selectedTR).find('button').removeAttr('disabled');
    selectedTR = '';
    });

    $('#supplier').on('change', function() {
      $('#supplierCredit').empty();
      var selectedOption = $(this).find('option:selected');
      var code = selectedOption.data('code') || '';
      var balance = selectedOption.data('balance') || '0';
      $('#supplierID').val(code);
      $('#supplierCredit').empty();
      $('#supplierCredit').append(`
      <p class="font-semibold ${parseFloat(balance).toFixed(2)<= 0 ? `text-red`: ``}">Balance:${parseFloat(balance).toFixed(2)} </p> 
      `);
    });
    $('#cash').on('change', function() {
      var selectedOption = $(this).find('option:selected');
      var code = selectedOption.data('code') || '';
      var balance = selectedOption.data('balance') || '0';
      $('#cashCredit').empty();
      $('#cashCredit').append(`
      <p class="font-semibold ${parseFloat(balance).toFixed(2)<= 0 ? `text-red`: ``}">Balance:${parseFloat(balance).toFixed(2)} </p> 
      `);
      $('#cashbankId').val(code); 
    });
  </script>
  <script>
    var cashs = {{ cashs|safe }};

    for (let i=0; i<cashs.length; i++) {
      const cash = cashs[i];
      var tableBody = document.getElementById("cashTableBody");
      var newRow = `
      <tr>
        <td class="px-3 py-3 text-left w-1 flex">
          <button type='button' class="text-blue-500 hover:underline mr-2" onclick="updateCash(this)">Edit</button>
          <button type='button' class="text-red-500 hover:underline" onclick="deleteCash(this)">Delete</button>
        </td>
        <td class="px-4 py-3 text-left w-1 sl">${i+1}</td>
        <td class="px-4 py-3 text-left search-area">
          ${cash.date.split('T')[0]}    
          <input type="hidden" name="dates" value="${cash.date.split('T')[0]}">
        </td>

        <td class="px-4 py-3 text-left search-area">
          ${cash.cashbank}
          <input type="hidden" name="cashs" value="${cash.cashbank_id}">
        </td>
        <td class="px-4 py-3 text-left search-area">
        ${cash.type === 'suppliers' ? cash.supplier : cash.customer}
        <input 
          type="hidden" 
          name="suppliers" 
          value="${cash.type === 'suppliers' ? cash.supplier_id : cash.customer_id}"
        >
      </td>

        <td class="px-4 py-3 text-right search-area">
          ${parseFloat(cash.amount).toFixed(2)}
          <input type="hidden" name="amounts" value="${cash.amount}">   
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${cash.transaction}
          <input type="hidden" name="transactions" value="${cash.transaction}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${cash.description}
          <input type="hidden" name="descriptions" value="${cash.description}">
        </td>
        <input type="hidden" name="cash_ids" id="cash_id" value="${cash.id}"> 
        <input type="hidden" name="type" id="type" value="${cash.type}"> 
      </tr>`; 
      tableBody.insertAdjacentHTML('beforeend', newRow);
      $('#amount').val('');
      $('#supplier, #cash').prop('selectedIndex', 0);
    addLastRow()
    }
  </script>
  <script>
      navActive("cashMasterLink");
      let deleteUrl = "";
    
      function openModal(cashId) {
      }

      function closeModal() {
        document.getElementById("confirmModal").classList.add("hidden");
      }

  </script>
<script>

  function addToCashGrid() {
    const cash_no = document.getElementById("cash_name").value.trim();
    let cash_id = document.getElementById("cashId").value.trim();
    const date = document.getElementById("date").value;
    const supplierEl = document.getElementById("supplier");
    const supplier = supplierEl.options[supplierEl.selectedIndex]?.text || "";
    const supplierSelect = supplierEl.value;
    const cashEl = document.getElementById("cash");
    const cash = cashEl.options[cashEl.selectedIndex]?.text || "";
    const cashSelect = cashEl.value;
    const amount = parseFloat(document.getElementById("amount").value) || 0;
    const description = document.getElementById("description").value.trim();
    const transaction = document.getElementById("transaction").value.trim();
    const type_value = $('#supplier').find('option:selected').data('type');
    if ( !date || !supplierSelect || !cashSelect || !amount || !transaction) {
      alert("⚠️ Please fill in all required fields before adding.");
      return;
    }
    const tableBody = document.getElementById("cashTableBody");
    const rowCount = tableBody.querySelectorAll("tr").length + 1;
    fetch("/cash/api/hold_cash/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({
        cash_no: cash_no,
        date: date,
        supplier: supplierSelect,
        cashbank: cashSelect,
        amount: amount,
        description: description,
        cash_id:cash_id,
        transaction:transaction,
        type: type_value 
      }), 
    })
      .then((response) => response.json())
      .then((data) => {
        cash_id = data.cash_id;
        hold = data.hold
        console.log(data.hold) 

    isUpdate = false;
    clearCashForm();
    $('#cash_name').val(getLastCashNo()).change();
        if (hold){
          if (selectedTR){
            $(selectedTR).empty();
             $(selectedTR).removeClass('bg-blue-300');
            $(selectedTR).append(`
             <td class="px-4 py-3 text-left w-1 flex">
          <button type='button' class="text-blue-500 hover:underline mr-2" onclick="updateCash(this)">Edit</button>
          <button type='button' class="text-red-500 hover:underline" onclick="deleteCash(this)">Delete</button>
        </td>
        <td class="px-4 py-3 text-left sl"></td>
        <td class="px-4 py-3 text-left">${date}
          <input type="hidden" name="dates" value="${date}">
          </td>
        <td class="px-4 py-3 text-left search-area">
          ${cash}
          <input type="hidden" name="cashs" value="${cashSelect}">
        </td>
        <td class="px-4 py-3 text-left search-area">
          ${supplier}
          <input type="hidden" name="suppliers" value="${supplierSelect}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${amount.toFixed(2)}
          <input type="hidden" name="amounts" value="${amount}">
        </td>
         <td class="px-4 py-3 text-left search-area">
          ${transaction}
          <input type="hidden" name="transactions" value="${transaction}">
        </td>
         <td class="px-4 py-3 text-left search-area">
          ${description}
          <input type="hidden" name="descriptions" value="${description}">
        </td>
        <input type="hidden" name="cash_ids" id="cash_id" value="${cash_id}"> 
        <input type="hidden" name="type" id="type" value="${type_value}"> 
        `);
            selectedTR = '';
          }else{
    const newRow = `
      <tr>
        <td class="px-4 py-3 text-left w-1 flex">
          <button type='button' class="text-blue-500 hover:underline mr-2" onclick="updateCash(this)">Edit</button>
          <button type='button' class="text-red-500 hover:underline" onclick="deleteCash(this)">Delete</button>
        </td>
        <td class="px-4 py-3 text-left sl"></td>
        <td class="px-4 py-3 text-left">${date}
          <input type="hidden" name="dates" value="${date}">
          </td>
        <td class="px-4 py-3 text-left search-area">
          ${cash}
          <input type="hidden" name="cashs" value="${cashSelect}">
        </td>
        <td class="px-4 py-3 text-left search-area">
          ${supplier}
          <input type="hidden" name="suppliers" value="${supplierSelect}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${amount.toFixed(2)}
          <input type="hidden" name="amounts" value="${amount}">
        </td>
         <td class="px-4 py-3 text-center search-area">
          ${transaction}
          <input type="hidden" name="transactions" value="${transaction}">
        </td>
         <td class="px-4 py-3 text-left search-area">
          ${description}
          <input type="hidden" name="descriptions" value="${description}">
        </td>
        <input type="hidden" name="cash_ids" id="cash_id" value="${cash_id}"> 
        <input type="hidden" name="type" id="type" value="${type_value}"> 
      </tr>`;

    tableBody.insertAdjacentHTML('beforeend', newRow);

          }
              $('#addToGrid').addClass('bg-green-500 text-white').removeClass('bg-green-500 text-white');
      $('#addToGridText').text('Add to Grid');

    addLastRow()
    isUpdate = false
        }else{
          $('#viewCashDiv').removeClass('hidden');
    $('#viewDiv').removeClass('hidden');
          $('#createView').addClass('hidden');
          $('#dateFilter').click();
          $('#cashTableBody').removeClass('hidden')
      $('#addToGridText').text('Add to Grid');
      isUpdate = false
        }
    resetSLNo()
      })
      .catch((error) => {
        console.error("Error holding cash:", error);
      });



  }
function getLastCashNo() {
    let lastCashNo = '';
    fetch("{% url 'api-cash-no' %}")
      .then(response => response.json())
      .then(data => {
        lastCashNo = data.cash_no;
        document.getElementById("cash_name").value = lastCashNo;
      })
      .catch(error => {
        console.error('Error fetching cash no:', error);
      });
    return lastCashNo;  
}

  function updateCash(link) {
    $('#viewCashDiv').addClass('hidden');
    $('#createView').removeClass('hidden');
    $('#viewDiv').addClass('hidden');
    const selectedRow = link.closest('tr');
    if (isUpdate){

    document.getElementById("cash_name").value = selectedRow.cells[2].innerText.trim();
    document.getElementById("date").value = selectedRow.cells[3].innerText.trim();
    document.getElementById("cash").value = selectedRow.cells[4].querySelector('input').value;
    document.getElementById("amount").value = selectedRow.cells[6].innerText.trim();
    document.getElementById("description").value = selectedRow.cells[8].innerText.trim();
    document.getElementById("cashId").value = selectedRow.querySelector('#cash_id').value;
    document.getElementById("transaction").value = selectedRow.cells[7].innerText.trim();
    var type = selectedRow.querySelector('#type') ? selectedRow.querySelector('#type').value : 'suppliers';

    document.getElementById("supplier").value = selectedRow.cells[5].querySelector('input').value;
    }else{
      selectedTR = selectedRow;
      makeRowHighlight(selectedRow);
    document.getElementById("cash_name").value = selectedRow.cells[1].innerText.trim();
    document.getElementById("date").value = selectedRow.cells[2].innerText.trim();
    document.getElementById("cash").value = selectedRow.cells[3].querySelector('input').value;
    document.getElementById("amount").value = selectedRow.cells[5].innerText.trim();
    document.getElementById("description").value = selectedRow.cells[7].innerText.trim();
    document.getElementById("transaction").value = selectedRow.cells[6].innerText.trim();
    document.getElementById("cashId").value = selectedRow.querySelector('#cash_id').value;
    var type = selectedRow.querySelector('#type') ? selectedRow.querySelector('#type').value : 'suppliers';

    document.getElementById("supplier").value = selectedRow.cells[4].querySelector('input').value;
  }

    $('#addToGridText').text('Update Grid');
    $('#addToGrid').addClass('bg-green-500 text-white').removeClass('bg-blue-500 text-white');

    $('#supplier, #cash').change()
    resetSLNo()
    addLastRow()

    
  }


  function deleteCash(link) {
        const selectedRow = link.closest('tr');
        selectedTR = selectedRow;
        const cashId = selectedRow.querySelector('#cash_id').value;

    
        deleteUrl = "/cash/api/delete_cash/?id=0".replace("0", cashId);
        document.getElementById("confirmModal").classList.remove("hidden");
  }
  function deleteItem() {

  fetch(deleteUrl, {
    method: 'GET', 
  })
    .then(response => response.json())
    .then(data => {
      console.log('Cash deleted successfully:', data);

      if (data.status === 'success') {
        selectedTR.remove();
        deleteUrl = "";
        resetSLNo();
        addLastRow();
        console.log(getLastCashNo())
    $('#cash_name').val(getLastCashNo()).change();
        closeModal();
      } else {
        console.error('Delete failed:', data.message);
      }
    })
    .catch(error => {
      console.error('Error while deleting cash:', error);
    }).finally(() => {
  selectedTR = '';
});
  } 
function resetSLNo() {
  $('#cashTableBody .sl').each(function (index) {
    $(this).text(index + 1);
    $(this).find('input').val(index + 1);
  });
}  


  function clearCashForm() {
    $('#amount, #supplierID, #cashbankId,#cashId, #transaction, #description').val('');
    $('#supplier, #cash').prop('selectedIndex', 0);
      $('#supplierCredit').empty();
      $('#cashCredit').empty()
    $('#cash_name').val(getLastCashNo()).change();
    $('#cashId').val('');
  }

  function makeRowHighlight(tr){
    $('#cashTableBody tr').removeClass('bg-yellow-100');
    $(tr).addClass('bg-blue-300');
    $(tr).find('button').attr('disabled', true);
  }

</script>

<script>
  $('#btnFilter').on('click', function(e) {
    e.preventDefault();
    const fromPrice = parseFloat($('#from_price').val()) || 0;
    const toPrice = parseFloat($('#to_price').val()) || Infinity;

    $('#viewCashTable tbody tr').each(function() {
        console.log($(this).find('td:nth-child(7)'))
      const totalAmount = parseFloat($(this).find('td:nth-child(7)').text()) || 0;
      if (totalAmount >= fromPrice && totalAmount <= toPrice) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  });
  $('#dateFilter').on('click', function(){
    const startDate = $('#from_date').val()
    const endDate = $('#end_date').val()
    if (!startDate || !endDate) {
      alert("⚠️ Please select both From Date and End Date.");
      return;
    }
    $('#viewCashDiv').removeClass('hidden');
    fetch(`{% url 'api-cashs-by-date' %}?from=${startDate}&&to=${endDate}`)
      .then(response => response.json())
      .then(data => {
        const tableBody = $('#viewCashTable tbody');
        tableBody.empty(); 
        totalQty = data.total_qty || 0;
        totalAmount = data.total_amount || 0;
        rateAvg = data.rate_avg || 0;
        data.cashs.forEach((cash, index) => {
          const newRow = `
            <tr>
              <td class="px-4 py-3 text-left w-1 flex">
                <a href="#" class="text-blue-500 hover:underline mr-2" onclick="editViewData(this);">Edit</a>
                <a href="#" class="text-red-500 hover:underline" onclick="deleteCash(this)">Delete</a>
              </td>
              <td class="px-4 py-3 text-left sl">${index + 1}</td>
              <td class="px-4 py-3 text-left search-area">${cash.cash_no}
                <input type="hidden" name="cash_nos" value="${cash.cash_no}">
                </td>
              <td class="px-4 py-3 text-left search-area">${cash.date.split('T')[0]}
                <input type="hidden" name="dates" value="${cash.date.split('T')[0]}">
                </td>
              <td class="px-4 py-3 text-left search-area">${cash.cashbank}
                <input type="hidden" name="cashs" value="${cash.cashbank_id}">
                </td>
              <td class="px-4 py-3 text-left search-area">
        ${cash.type === 'suppliers' ? cash.supplier : cash.customer} 
        <input 
          type="hidden" 
          name="suppliers" 
          value="${cash.type === 'suppliers' ? cash.supplier_id : cash.customer_id}"
        >
                </td>
              <td class="px-4 py-3 text-right font-bold">${parseFloat(cash.amount).toFixed(2)}
                <input type="hidden" name="amounts" value="${cash.amount}">
                </td>
              <td class="px-4 py-3 text-center search-area">${cash.transaction}
                <input type="hidden" name="transactions" value="${cash.transaction}">
                </td>
              <td class="px-4 py-3 text-right search-area">${cash.description}
                <input type="hidden" name="descriptions" value="${cash.description}">
                </td>
              <input type="hidden" name="cash_ids" id="cash_id" value="${cash.id}"> 
              <input type="hidden" name="type" id="type" value="${cash.type}">
            </tr>`;
          tableBody.append(newRow);
        });
        tableBody.append(`
          <tr class="bg-blue-200 font-bold">
            <td class="px-4 py-3 text-left" colspan="7">Totals:</td>
            <td class="px-4 py-3 text-right">${parseFloat(totalAmount).toFixed(2)}</td>
            <td class="px-4 py-3 text-right"></td>
          </tr>
        `);

        $('#showDate').text(`Showing cashs from ${startDate} to ${endDate}`);
      })
      .catch(error => {
        console.error('Error fetching cashs by date:', error);
      });
  })
  const searchInputfilter = document.getElementsByClassName("searchInput");
  searchInputfilter[0].addEventListener("keyup", function() {
    const filter = searchInputfilter[0].value.toLowerCase();
    const table = document.getElementById("viewCashTable");
    const tr = table.getElementsByTagName("tr");

    for (let i = 1; i < tr.length; i++) {
      let tdArray = tr[i].getElementsByClassName("search-area");
      let rowText = "";
      for (let j = 0; j < tdArray.length; j++) {
        rowText += tdArray[j].textContent.toLowerCase() + " ";
      }
      if (rowText.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  });

document.addEventListener("focusin", (event) => {
  const el = event.target;
  if (el.tagName === "SELECT") {
    el.click();
  }
});

function editViewData(button) {
$('#cashTableBody').addClass('hidden'); 
isUpdate = true;
updateCash(button);
  }

  function onCancelCash(){
    clearCashForm();
    if (isUpdate){

    isUpdate = false;
          $('#viewCashDiv').removeClass('hidden');
          $('#viewDiv').removeClass('hidden');
          $('#createView').addClass('hidden');
          $('#dateFilter').click();
          $('#cashTableBody').removeClass('hidden')


    }
    isUpdate = false;
    $('#addToGridText').text('Add to Grid');
    $(selectedTR).removeClass('bg-blue-300'); 
    $(selectedTR).find('button').removeAttr('disabled');
    selectedTR = '';

  }

</script>
  {% endblock %}
</div>
