{% extends "base.html" %}
{% block title %} Commission Entry {% endblock title %}
{% block externalCSS %}{% endblock externalCSS %}
{% block content %}
<div class="bg-white rounded-xl p-6 mt-3">
  <h1 class="text-2xl font-medium mb-0 text-gray-700 uppercase">Commission Management</h1>
  <div class="mt-4 flex flex-wrap items-center gap-3">
    <!-- 🟦 New -->
    <a id="btnNew" href="#"
      class="leading-none inline-flex items-center gap-1.5 bg-blue-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-blue-600 transition-all duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
      </svg>
      New
    </a>
    <a id="btnView" href="#"
      class="leading-none inline-flex items-center gap-1.5 bg-green-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-green-600 transition-all duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
      </svg>
      View
    </a>
  </div>
  <hr class="mt-5">
  <div class=" mt-5 w-100" id="createView">
    <div class="grid grid-cols-8 gap-4 ">
      <div class="col-span-6 flex gap-2 ">
        <div class="w-[50%]">
          <label class="block text-gray-700">Commission No*</label>
          <input type="text" name="" value="{{ last_commission_no }}" id="commission_name"
            placeholder="Enter commission No"
            class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500" disabled
            required />
        </div>
        <input type="hidden" name="" id="commissionId" placeholder="" />
        <div class="w-[50%]">
          <label class="block text-gray-700">Date*</label>
          <input type="date" name="" id="date"
            class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            required />
        </div>
      </div>
      <div class="col-span-6 w-full flex items-center gap-3">
        <div class=" w-[80%]">
          <!-- Label -->
          <label class="block text-gray-700 mb-1">Expense*</label>
          <div class="flex items-center gap-4">
            <div class="flex items-center gap-4 w-full">
              <!-- <div class="flex items-center">
      <input type="checkbox" id="allExpenses" name="" tabindex="-1" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
      <label for="allExpenses" class="ml-2 text-gray-700">All</label>
</div> -->
              <!-- Dropdown -->
              <div class="flex-1">
                <select name="" id="expense"
                  class="w-full bg-white px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
                  required>
                  <option value="" selected>Select Expense</option>
                  {% for expense in expenses %}
                  <option value="{{ expense.id }}" data-code="{{ expense.expenseId }}">{{ expense.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-6 w-full flex items-center gap-3">
        <div class=" w-[80%]">
          <!-- Label -->
          <label class="block text-gray-700 mb-1">Godown*</label>
          <!-- Row: Checkbox + Dropdown -->
          <div class="flex items-center gap-4">
            <!-- Dropdown -->
            <div class="flex-1">
              <select name="" id="godown"
                class="w-full bg-white px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
                required>
                <option value="" selected>Select Godown</option>
                {% for godown in godowns %}
                <option value="{{ godown.id }}" data-code="{{ godown.godownId }}"
                  data-balance="{{ godown.get_balance }}">{{ godown.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class=" w-[30%]">
          <!-- Label -->
          <label class="block text-gray-700 mb-1">G.code*</label>
          <div class="flex items-center gap-4 ">
            <!-- Row: Checkbox + Dropdown -->
            <div class="flex items-center gap-4 w-full">
              <!-- Dropdown -->
              <div class="flex-1">
                <input type="text" name="" id="godownID" placeholder="" disabled
                  class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
                  required />
              </div>
            </div>
          </div>
        </div>
        <div class="w[20%]">
          <div id="godownCredit"></div>
        </div>
      </div>
      <div class="col-span-6 w-full flex gap-2">
        <div class="flex-1">
          <label class="block text-gray-700">Qty*</label>
          <input type="number" name="" id="qty" placeholder="Enter Quantity"
            class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            required />
        </div>
        <div class="flex-1">
          <label class="block text-gray-700">Rate*</label>
          <input type="number" name="" id="amount" placeholder="Enter Amount"
            class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            required />
        </div>
        <div class="flex-1">
          <label class="block text-gray-700">Total Amount*</label>
          <input type="number" name="" id="total_amount" placeholder="" disabled
            class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            required />
        </div>
      </div>
      <div class="description col-span-6">
        <div>
          <label class="block text-gray-700">Description</label>
          <textarea name="" id="description"
            class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
        </div>
      </div>
    </div>
    <hr class="mt-5 mb-5">
    <form action="{% url 'commission-create' %}" method="post">
      {% csrf_token %}
      <div class="flex items-center justify-between">
        <div class="flex gap-2 items-center">
          <a id="addGrid" href="#" onclick="addToCommissionGrid()"
            class="leading-none inline-flex items-center gap-1.5 bg-blue-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-blue-600 transition-all duration-300">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
      </svg> -->
            <span id="addToGridText">Add to Grid</span>
          </a>
          <a id="btnCancel" href="#" onclick="oncancelData()"
            class="leading-none inline-flex items-center gap-1.5 bg-gray-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-gray-600 transition-all duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            Cancel
          </a>
        </div>
        <div class="flex items-center gap-2">
          <div class="relative w-full md:w-3/4">
            <input type="text" id="searchInput" placeholder="Search commission..."
              class="w-full bg-white rounded-xl px-4 py-2 pl-10 border  focus:border-transparent ring-2 ring-blue-200  focus:ring-2 focus:ring-blue-300 transition-all duration-200 outline-none" />
            <svg class="w-5 h-5 text-gray-400 absolute left-3 top-2.5 pointer-events-none" fill="none"
              stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1010.5 3a7.5 7.5 0 006.15 13.65z" />
            </svg>
          </div>
          <button id="btnSave" type="submit"
            class="leading-none inline-flex items-center gap-1.5 bg-green-500 text-white text-sm font-medium px-4 py-3 rounded-xl shadow-sm hover:bg-green-600 transition-all duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Save
          </button>
        </div>
      </div>
      <div class="overflow-x-auto mt-5 w-full" id="commissionCreateDiv">
        <table class="min-w-full rounded-t-lg overflow-hidden">
          <thead class="bg-blue-200 text-gray-700 uppercase text-sm">
            <tr>
              <th class="px-4 py-3 text-left font-medium w-1">Actions</th>
              <th class="px-4 py-3 text-left font-medium w-1">#</th>
              <th class="px-4 py-3 text-left font-medium">Date</th>
              <th class="px-4 py-3 text-left font-medium">Expense</th>
              <th class="px-4 py-3 text-left font-medium">Godown</th>
              <th class="px-4 py-3 text-right font-medium">Qty</th>
              <th class="px-4 py-3 text-right font-medium">Rate</th>
              <th class="px-4 py-3 text-right font-medium">Total Amount</th>
              <th class="px-4 py-3 text-right font-medium">Description</th>
            </tr>
          </thead>
          <tbody class="bg-gray-100" id="commissionTableBody">
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div id="viewDiv" class="hidden">
    <div class="dateDiv mt-3">
      <div class="flex justify-center items-end gap-5 mt-4">
        <div>
          <label class="block text-gray-700">From Date*</label>
          <input type="date" id="from_date"
            class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            required />
        </div>
        <div>
          <label class="block text-gray-700">End Date*</label>
          <input type="date" id="end_date"
            class="w-full mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            required />
        </div>
        <div>
          <button id="dateFilter"
            class="bg-blue-600 text-white px-5 py-2 mt-6 rounded-xl hover:bg-blue-700 transition-all">
            Filter
          </button>
        </div>
      </div>
    </div>
    <div id="viewCommissionDiv" class="hidden">
      <hr class="mt-5">
      <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 mt-3 mb-3">
        <div class="flex items-end gap-3 w-full md:w-auto">
          <div>
            <label for="from_price" class="block text-gray-700 text-sm font-medium">From</label>
            <input type="number" id="from_price" placeholder="0.00"
              class="w-32 mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>
          <div>
            <label for="to_price" class="block text-gray-700 text-sm font-medium">To</label>
            <input type="number" id="to_price" placeholder="0.00"
              class="w-32 mt-1 px-3 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>
          <button id="btnFilter"
            class="mt-5 bg-blue-500 text-white text-sm font-medium px-4 py-2.5 rounded-xl shadow-sm hover:bg-blue-600 transition-all duration-300">
            Filter
          </button>
        </div>
        <h2 id="showDate" class="underline"></h2>
        <div class="relative w-full md:w-1/4">
          <input type="text" id="searchInput" placeholder="Search commission..."
            class="w-full bg-white searchInput rounded-xl px-4 py-2 pl-10 border focus:border-transparent ring-2 ring-blue-200 focus:ring-2 focus:ring-blue-300 transition-all duration-200 outline-none" />
          <svg class="w-5 h-5 text-gray-400 absolute left-3 top-2.5 pointer-events-none" fill="none"
            stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1010.5 3a7.5 7.5 0 006.15 13.65z" />
          </svg>
        </div>
      </div>
      <div class="overflow-x-auto mt-5 w-full">
        <table class="min-w-full rounded-t-lg overflow-hidden" id="viewCommissionTable">
          <thead class="bg-blue-200 text-gray-700 uppercase text-sm">
            <tr>
              <th class="px-4 py-3 text-left font-medium w-1">Actions</th>
              <th class="px-4 py-3 text-left font-medium w-1">#</th>
              <th class="px-4 py-3 text-left font-medium">Commission No</th>
              <th class="px-4 py-3 text-left font-medium">Date</th>
              <th class="px-4 py-3 text-left font-medium">Expense</th>
              <th class="px-4 py-3 text-left font-medium">Godown</th>
              <th class="px-4 py-3 text-right font-medium">Qty</th>
              <th class="px-4 py-3 text-right font-medium">Rate</th>
              <th class="px-4 py-3 text-right font-medium">Total Amount</th>
              <th class="px-4 py-3 text-right font-medium">Description</th>
            </tr>
          </thead>
          <tbody class="bg-gray-100" id="commissionTableBody">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- 🟦 Edit Confirmation Modal -->
<div id="editModal"
  class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 backdrop-blur-sm flex justify-center items-center z-50">
  <div class="bg-white rounded-xl shadow-lg p-6 w-80 text-center">
    <h2 class="text-lg font-semibold mb-4 text-gray-800">Confirm Edit</h2>
    <p class="mb-6 text-gray-600 ">Are you sure you want to edit this commission's details?</p>
    <div class="flex justify-center space-x-4">
      <button onclick="closeEditModal()"
        class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400">Cancel</button>
      <a id="confirmEditBtn" href="#" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Edit</a>
    </div>
  </div>
</div>
<div id="confirmModal"
  class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 backdrop-blur-sm flex justify-center items-center z-50">
  <div class="bg-white rounded-xl shadow-lg p-6 w-80 text-center">
    <h2 class="text-lg font-semibold mb-4">Confirm Deletion</h2>
    <p class="mb-6 text-gray-600">Are you sure you want to delete this commission?</p>
    <div class="flex justify-center space-x-4">
      <button id="cancelBtn" class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400"
        onclick="closeModal()">Cancel</button>
      <a id="confirmDeleteBtn" href="#" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
        onclick="deleteItem()">Delete</a>
    </div>
  </div>
</div>
{% endblock content %}
{% block externalJS %}
<script>
  var isUpdate = false;

  function addLastRow() {
    const tableBody = document.getElementById("commissionTableBody");
    $('#totalRow').remove();
    var totalQty = 0;
    var totalAmount = 0;
    var rateSum = 0;
    count = 0;
    tableBody.querySelectorAll("tr").forEach(function (row) {
      const qty = parseFloat(row.cells[5].innerText) || 0;
      const amount = parseFloat(row.cells[6].innerText) || 0;
      const total = parseFloat(row.cells[7].innerText) || 0;
      totalQty += qty;
      rateSum += amount;
      totalAmount += total;
      count += 1;
    });
    rateAvg = rateSum / count || 0;
    const lastRow = `
      <tr class="bg-blue-200 font-bold" id="totalRow">
        <td class="px-4 py-3 text-left" colspan="5">Totals:</td>
        <td class="px-4 py-3 text-right">${parseFloat(totalQty).toFixed(2)}</td>
        <td class="px-4 py-3 text-right">${parseFloat(rateAvg).toFixed(2)}</td>
        <td class="px-4 py-3 text-right">${parseFloat(totalAmount).toFixed(2)}</td>
        <td class="px-4 py-3 text-right"></td>
      </tr>`;
    tableBody.insertAdjacentHTML('beforeend', lastRow);

  }


  let selectedTR = '';
  $('#btnNew').on('click', function (e) {
    e.preventDefault();
    $('#date').val(new Date().toISOString().split('T')[0]);
    $('#from_date').val('');
    $('#end_date').val('');
    $('#viewCommissionDiv').addClass('hidden');
    $('#viewCommissionTable tbody').empty();
    $('#createView').removeClass('hidden');
    $('#viewDiv').addClass('hidden');
    $('#commission_name, #amount, #qty, #description, #total_amount').val('');
    $('#expense, #godown').prop('selectedIndex', 0);
    getLastCommissionNo()

  });
  $('#btnView').on('click', function (e) {
    e.preventDefault();
    $('#createView').addClass('hidden');
    $('#viewDiv').removeClass('hidden');

    clearCommissionForm();
    isUpdate = false;
    $('#addToGridText').text('Add to Grid');
    $(selectedTR).removeClass('bg-blue-300');
    $(selectedTR).find('button').removeAttr('disabled');
    selectedTR = '';
  });

  $('#expense').on('change', function () {
    var selectedOption = $(this).find('option:selected');
    var code = selectedOption.data('code') || '';
    var balance = selectedOption.data('balance') || '0';
    $('#expenseID').val(code);
  });
  $('#godown').on('change', function () {
    var selectedOption = $(this).find('option:selected');
    var code = selectedOption.data('code') || '';
    var balance = selectedOption.data('balance') || '0';
    $('#godownCredit').empty();
    $('#godownCredit').append(`
      <p class="font-semibold ${parseFloat(balance).toFixed(2) <= 0 ? `text-red` : ``}">Balance:${parseFloat(balance).toFixed(2)} </p> 
      `);
    $('#godownID').val(code);
  });
</script>
<script>
  var commissions = {{ commissions| safe }};

  for (let i = 0; i < commissions.length; i++) {
    const commission = commissions[i];
    var tableBody = document.getElementById("commissionTableBody");
    var newRow = `
      <tr>
        <td class="px-3 py-3 text-left w-1 flex">
          <button type='button' class="text-blue-500 hover:underline mr-2" onclick="updateCommission(this)">Edit</button>
          <button type='button' class="text-red-500 hover:underline" onclick="deleteCommission(this)">Delete</button>
        </td>
        <td class="px-4 py-3 text-left w-1 sl">${i + 1}</td>
        <td class="px-4 py-3 text-left search-area">
          ${commission.date.split('T')[0]}    
          <input type="hidden" name="dates" value="${commission.date.split('T')[0]}">
        </td>
        <td class="px-4 py-3 text-left search-area">
        ${commission.type === 'expenses' ? commission.expense : commission.expense}
        <input type="hidden" name="expenses" value="${commission.type === 'expenses' ? commission.expense_id : commission.expense_id}">
      </td>


        <td class="px-4 py-3 text-left search-area">
          ${commission.godown}
          <input type="hidden" name="godowns" value="${commission.godown_id}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${commission.qty}
          <input type="hidden" name="qtys" value="${commission.qty}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${parseFloat(commission.amount).toFixed(2)}
          <input type="hidden" name="amounts" value="${commission.amount}">   
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${parseFloat(commission.total_amount).toFixed(2)}
          <input type="hidden" name="total_amounts" value="${parseFloat(commission.total_amount).toFixed(2)}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${commission.description}
          <input type="hidden" name="descriptions" value="${commission.description}">
        </td>
        <input type="hidden" name="commission_ids" id="commission_id" value="${commission.id}"> 
        <input type="hidden" name="type" id="type" value="${commission.type}"> 
      </tr>`;
    tableBody.insertAdjacentHTML('beforeend', newRow);
    $('#amount, #qty, #description, #total_amount').val('');
    $('#expense, #godown').prop('selectedIndex', 0);
    addLastRow()
  }
</script>
<script>
  navActive("commissionMasterLink");
  let deleteUrl = "";

  function openModal(commissionId) {
  }

  function closeModal() {
    document.getElementById("confirmModal").classList.add("hidden");
  }

</script>
<script>
  $('#amount, #qty').on('input', function () {
    const amount = parseFloat($('#amount').val()) || 0;
    const qty = parseFloat($('#qty').val()) || 0;
    const total = amount * qty;
    $('#total_amount').val(total.toFixed(2));
  });

  function addToCommissionGrid() {
    const commission_no = document.getElementById("commission_name").value.trim();
    let commission_id = document.getElementById("commissionId").value.trim();
    const date = document.getElementById("date").value;
    const expenseEl = document.getElementById("expense");
    const expense = expenseEl.options[expenseEl.selectedIndex]?.text || "";
    const expenseSelect = expenseEl.value;
    const godownEl = document.getElementById("godown");
    const godown = godownEl.options[godownEl.selectedIndex]?.text || "";
    const godownSelect = godownEl.value;
    const qty = parseFloat(document.getElementById("qty").value) || 0;
    const amount = parseFloat(document.getElementById("amount").value) || 0;
    const description = document.getElementById("description").value.trim();
    const total_amount = qty * amount;
    const type_value = $('#expense').find('option:selected').data('type');
    if (!date || !expenseSelect || !godownSelect || !qty || !amount) {
      alert("⚠️ Please fill in all required fields before adding.");
      return;
    }
    const tableBody = document.getElementById("commissionTableBody");
    const rowCount = tableBody.querySelectorAll("tr").length + 1;
    fetch("/commission/api/hold_commission/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie('csrftoken'),
      },
      body: JSON.stringify({
        commission_no: commission_no,
        date: date,
        expense: expenseSelect,
        godown: godownSelect,
        qty: qty,
        amount: amount,
        total_amount: total_amount,
        description: description,
        commission_id: commission_id,
        type: type_value
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data)
        commission_id = data.commission_id;
        hold = data.hold

        clearCommissionForm();
        isUpdate = false;
        if (hold) {
          if (selectedTR) {
            $(selectedTR).removeClass('bg-blue-300');
            $(selectedTR).empty();
            $(selectedTR).append(`
          <td class="px-4 py-3 text-left w-1 flex">
          <button type='button' class="text-blue-500 hover:underline mr-2" onclick="updateCommission(this)">Edit</button>
          <button type='button' class="text-red-500 hover:underline" onclick="deleteCommission(this)">Delete</button>
        </td>
        <td class="px-4 py-3 text-left sl"></td>
        <td class="px-4 py-3 text-left">${date}
          <input type="hidden" name="dates" value="${date}">
          </td>
        <td class="px-4 py-3 text-left search-area">
          ${expense}
          <input type="hidden" name="expenses" value="${expenseSelect}">
        </td>
        <td class="px-4 py-3 text-left search-area">
          ${godown}
          <input type="hidden" name="godowns" value="${godownSelect}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${qty}
          <input type="hidden" name="qtys" value="${qty}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${amount.toFixed(2)}
          <input type="hidden" name="amounts" value="${amount}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${total_amount.toFixed(2)}
          <input type="hidden" name="total_amounts" value="${total_amount.toFixed(2)}">
        </td>
         <td class="px-4 py-3 text-left search-area">
          ${description}
          <input type="hidden" name="descriptions" value="${description}">
        </td>
        <input type="hidden" name="commission_ids" id="commission_id" value="${commission_id}"> 
        <input type="hidden" name="type" id="type" value="${type_value}"> 
        `);
            selectedTR = '';
          } else {
            const newRow = `
      <tr>
        <td class="px-4 py-3 text-left w-1 flex">
          <button type='button' class="text-blue-500 hover:underline mr-2" onclick="updateCommission(this)">Edit</button>
          <button type='button' class="text-red-500 hover:underline" onclick="deleteCommission(this)">Delete</button>
        </td>
        <td class="px-4 py-3 text-left sl"></td>
        <td class="px-4 py-3 text-left">${date}
          <input type="hidden" name="dates" value="${date}">
          </td>
        <td class="px-4 py-3 text-left search-area">
          ${expense}
          <input type="hidden" name="expenses" value="${expenseSelect}">
        </td>
        <td class="px-4 py-3 text-left search-area">
          ${godown}
          <input type="hidden" name="godowns" value="${godownSelect}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${qty}
          <input type="hidden" name="qtys" value="${qty}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${amount.toFixed(2)}
          <input type="hidden" name="amounts" value="${amount}">
        </td>
        <td class="px-4 py-3 text-right search-area">
          ${total_amount.toFixed(2)}
          <input type="hidden" name="total_amounts" value="${total_amount.toFixed(2)}">
        </td>
         <td class="px-4 py-3 text-left search-area">
          ${description}
          <input type="hidden" name="descriptions" value="${description}">
        </td>
        <input type="hidden" name="commission_ids" id="commission_id" value="${commission_id}"> 
        <input type="hidden" name="type" id="type" value="${type_value}"> 
      </tr>`;

            tableBody.insertAdjacentHTML('beforeend', newRow);
          }

          $('#addToGrid').addClass('bg-green-500 text-white').removeClass('bg-green-500 text-white');
          $('#addToGridText').text('Add to Grid');
          $('#commission_name').val(getLastCommissionNo());
          resetSLNo()
          addLastRow()
          isUpdate = false
        } else {
          $('#viewCommissionDiv').removeClass('hidden');
          $('#viewDiv').removeClass('hidden');
          $('#createView').addClass('hidden');
          $('#dateFilter').click();
          $('#commissionTableBody').removeClass('hidden')
          $('#addToGridText').text('Add to Grid');
          isUpdate = false
        }
      })
      .catch((error) => {
        console.error("Error holding commission:", error);
      });



  }
  function getLastCommissionNo() {
    let lastCommissionNo = '';
    fetch("{% url 'api-commission-no' %}")
      .then(response => response.json())
      .then(data => {
        lastCommissionNo = data.commission_no;
        document.getElementById("commission_name").value = lastCommissionNo;
      })
      .catch(error => {
        console.error('Error fetching commission no:', error);
      });
    return lastCommissionNo;
  }

  function updateCommission(link) {
    $('#viewCommissionDiv').addClass('hidden');
    // $('#viewCommissionTable tbody').empty();
    $('#createView').removeClass('hidden');
    $('#viewDiv').addClass('hidden');
    const selectedRow = link.closest('tr');
    selectedTR = selectedRow;
    if (isUpdate) {
      document.getElementById("commission_name").value = selectedRow.cells[2].innerText.trim();
      document.getElementById("date").value = selectedRow.cells[3].innerText.trim();
      document.getElementById("godown").value = selectedRow.cells[5].querySelector('input').value;
      document.getElementById("amount").value = selectedRow.cells[7].innerText.trim();
      document.getElementById("qty").value = selectedRow.cells[6].innerText.trim();
      document.getElementById("total_amount").value = selectedRow.cells[8].innerText.trim();
      document.getElementById("description").value = selectedRow.cells[9].innerText.trim();
      document.getElementById("commissionId").value = selectedRow.querySelector('#commission_id').value;

      if (type === 'customers') {
        $('#allExpenses').prop('checked', true).change();
      } else {
        $('#allExpenses').prop('checked', false).change();
      }
      document.getElementById("expense").value = selectedRow.cells[4].querySelector('input').value;
    } else {
      makeRowHighlight(selectedRow);
      document.getElementById("commission_name").value = selectedRow.cells[1].innerText.trim();
      document.getElementById("date").value = selectedRow.cells[2].innerText.trim();
      document.getElementById("godown").value = selectedRow.cells[4].querySelector('input').value;
      document.getElementById("amount").value = selectedRow.cells[6].innerText.trim();
      document.getElementById("qty").value = selectedRow.cells[5].innerText.trim();
      document.getElementById("total_amount").value = selectedRow.cells[7].innerText.trim();
      document.getElementById("description").value = selectedRow.cells[8].innerText.trim();
      document.getElementById("commissionId").value = selectedRow.querySelector('#commission_id').value;

      if (type === 'customers') {
        $('#allExpenses').prop('checked', true).change();
      } else {
        $('#allExpenses').prop('checked', false).change();
      }

      document.getElementById("expense").value = selectedRow.cells[3].querySelector('input').value;
    }

    // selectedRow.remove();
    $('#addToGridText').text('Update Grid');
    $('#addToGrid').addClass('bg-green-500 text-white').removeClass('bg-blue-500 text-white');

    $('#expense, #godown').change()
    resetSLNo()
    addLastRow()

  }



  function makeRowHighlight(tr) {
    $('#commissionTableBody tr').removeClass('bg-yellow-100');
    $(tr).addClass('bg-blue-300');
    $(tr).find('button').attr('disabled', true);
  }




  function deleteCommission(link) {
    const selectedRow = link.closest('tr');
    selectedTR = selectedRow;
    const commissionId = selectedRow.querySelector('#commission_id').value;


    deleteUrl = "/commission/api/delete_commission/?id=0".replace("0", commissionId);
    document.getElementById("confirmModal").classList.remove("hidden");
  }
  function deleteItem() {

    fetch(deleteUrl, {
      method: 'GET',
    })
      .then(response => response.json())
      .then(data => {
        console.log('Commission deleted successfully:', data);

        if (data.status === 'success') {
          selectedTR.remove();
          deleteUrl = "";
          resetSLNo();
          getLastCommissionNo()
          closeModal();
        } else {
          console.error('Delete failed:', data.message);
        }
      })
      .catch(error => {
        console.error('Error while deleting commission:', error);
      }).finally(() => {
        selectedTR = '';
      });
  }
  function resetSLNo() {
    $('#commissionTableBody .sl').each(function (index) {
      $(this).text(index + 1);
      $(this).find('input').val(index + 1);
    });
  }

  function clearCommissionForm() {
    $('#amount, #qty, #description, #total_amount, #expenseID, #godownID,#commissionId').val('');
    $('#expense, #godown').prop('selectedIndex', 0);
    $('#allExpenses').prop('checked', false);
    $('#godownCredit').empty()
    $('#commission_name').val(getLastCommissionNo());
  }

</script>
<script>
  $('#btnFilter').on('click', function (e) {
    e.preventDefault();
    const fromPrice = parseFloat($('#from_price').val()) || 0;
    const toPrice = parseFloat($('#to_price').val()) || Infinity;

    $('#viewCommissionTable tbody tr').each(function () {
      const totalAmount = parseFloat($(this).find('td:nth-child(9)').text()) || 0;

      if (totalAmount >= fromPrice && totalAmount <= toPrice) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  });
  $('#dateFilter').on('click', function () {
    const startDate = $('#from_date').val()
    const endDate = $('#end_date').val()
    if (!startDate || !endDate) {
      alert("⚠️ Please select both From Date and End Date.");
      return;
    }
    $('#viewCommissionDiv').removeClass('hidden');
    fetch(`{% url 'api-commissions-by-date' %}?from=${startDate}&&to=${endDate}`)
      .then(response => response.json())
      .then(data => {
        const tableBody = $('#viewCommissionTable tbody');
        tableBody.empty();
        totalQty = data.total_qty || 0;
        totalAmount = data.total_amount || 0;
        rateAvg = data.rate_avg || 0;
        data.commissions.forEach((commission, index) => {
          const newRow = `
            <tr>
              <td class="px-4 py-3 text-left w-1 flex">
                <a href="#" class="text-blue-500 hover:underline mr-2" onclick="updateViewData(this)">Edit</a>
                <a href="#" class="text-red-500 hover:underline" onclick="deleteCommission(this)">Delete</a>
              </td>
              <td class="px-4 py-3 text-left sl">${index + 1}</td>
              <td class="px-4 py-3 text-left search-area">${commission.commission_no}
                <input type="hidden" name="commission_nos" value="${commission.commission_no}">
                </td>
              <td class="px-4 py-3 text-left search-area">${commission.date.split('T')[0]}
                <input type="hidden" name="dates" value="${commission.date.split('T')[0]}">
                </td>
              <td class="px-4 py-3 text-left search-area">
        ${commission.expense} 
        <input type="hidden" name="expenses" value="${commission.id}">
                </td>
              <td class="px-4 py-3 text-left search-area">${commission.godown}
                <input type="hidden" name="godowns" value="${commission.godown_id}">
                </td>
              <td class="px-4 py-3 text-right font-bold">${parseFloat(commission.qty).toFixed(2)}
                <input type="hidden" name="qtys" value="${commission.qty}">
                </td>
              <td class="px-4 py-3 text-right font-bold">${parseFloat(commission.amount).toFixed(2)}
                <input type="hidden" name="amounts" value="${commission.amount}">
                </td>
              <td class="px-4 py-3 text-right font-bold">${parseFloat(commission.total_amount).toFixed(2)}
                <input type="hidden" name="total_amounts" value="${parseFloat(commission.total_amount).toFixed(2)}">
                </td>
              <td class="px-4 py-3 text-right search-area">${commission.description}
                <input type="hidden" name="descriptions" value="${commission.description}">
                </td>
              <input type="hidden" name="commission_ids" id="commission_id" value="${commission.id}"> 
              <input type="hidden" name="type" id="type" value="${commission.type}">
            </tr>`;
          tableBody.append(newRow);
        });
        tableBody.append(`
          <tr class="bg-blue-200 font-bold">
            <td class="px-4 py-3 text-left" colspan="6">Totals:</td>
            <td class="px-4 py-3 text-right">${parseFloat(totalQty).toFixed(2)}</td>
            <td class="px-4 py-3 text-right">${parseFloat(rateAvg).toFixed(2)}</td>
            <td class="px-4 py-3 text-right">${parseFloat(totalAmount).toFixed(2)}</td>
            <td class="px-4 py-3 text-right"></td>
          </tr>
        `);

        $('#showDate').text(`Showing commissions from ${startDate} to ${endDate}`);
      })
      .catch(error => {
        console.error('Error fetching commissions by date:', error);
      });
  })
  const searchInputfilter = document.getElementsByClassName("searchInput");
  searchInputfilter[0].addEventListener("keyup", function () {
    const filter = searchInputfilter[0].value.toLowerCase();
    const table = document.getElementById("viewCommissionTable");
    const tr = table.getElementsByTagName("tr");

    for (let i = 1; i < tr.length; i++) {
      let tdArray = tr[i].getElementsByClassName("search-area");
      let rowText = "";
      for (let j = 0; j < tdArray.length; j++) {
        rowText += tdArray[j].textContent.toLowerCase() + " ";
      }
      if (rowText.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  });

  document.addEventListener("focusin", (event) => {
    const el = event.target;
    if (el.tagName === "SELECT") {
      el.click();
    }
  });

  function updateViewData(button) {
    $('#commissionTableBody').addClass('hidden');
    isUpdate = true;
    updateCommission(button);
  }

  function oncancelData() {
    clearCommissionForm();
    if (isUpdate) {

      $('#viewCommissionDiv').removeClass('hidden');
      $('#viewDiv').removeClass('hidden');
      $('#createView').addClass('hidden');
      $('#dateFilter').click();
      $('#commissionTableBody').removeClass('hidden')
    }
    isUpdate = false;
    $('#addToGridText').text('Add to Grid');
    $(selectedTR).removeClass('bg-blue-300');
    $(selectedTR).find('button').removeAttr('disabled');
    selectedTR = '';
  }

</script>
{% endblock externalJS %}